# Source & tooling
src/**
test/**
.vscode/**
.git/**
.gitignore
tsconfig.json
webpack.config.js

# Node / tooling
node_modules/**
npm-debug.log
yarn.lock

# Docs not needed at runtime
CHANGELOG.md
eslint.config.mjs
vsc-extension-quickstart.md

.vscode-test.mjs
out/test/**

# Maps (optional)
**/*.map